
body {
    background-color: bisque;}
    
    
h1 {
    color: indigo;}
    
p {
    font-size: 22px}
/*bisa use both id and class di namenya, but id lebih superior bakal di override*/
/* for id pertamanya use # , id is individual name, don't use space in the name di doc htmlnya, use a dash instead*/

#first {
    color:orange;
        
}

/* for class pertamanya use . */
/* use command+/ to write comment*/


.blue {
    border-bottom: 1px solid blue;
}

.hey {background-color: brown;}

/*display inline titik dua block itu jadi ngejabarin bloknya bisa jadi ga numpuk*/
/*position titik dua absokule tuh penjelasannya nyambung sama one */


div {
    background-color: darkmagenta;
    border: white, 1px solid;
    width: 400px;
    position: absolute;
    margin-top: 50px;
    /*margin top di luar, kalo marginnya aja tuh tambah di segala sisi, kalo top ato bottom ya spesifik, kalo margin doang...kalo nulis satu number itu smua, kalo 2 itu atas bawah lalu kanan kiri */
    padding: 20px;
    /*margin top di dalam, bakal bikin bendanya lebih besar */
    
}


/*ini gara2 absolute jadi bisa nentuin yang pasti tempatnya selalu disitu pake expression dibawah iniiii*/
#one {
    left: 100px
        top: 100px
        
        
}
span {
    background-color: deeppink;
}